<% provide(:title, "TOP") %>

<div class="center jumbotron toppage-text">
  <h1>勤怠システム</h1>
  <% if logged_in? %>
    <%= link_to "ログイン", '#', class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <p>アカウント作成は<%= link_to "こちら", signup_path %>から</p>
</div>