/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 0px;
}

.month-btn {
  margin: 1px 10px;
  padding: 1px 4px;
}

/* ユーザー情報下ボタン */
.btn-users-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-attendance {
  width: 75%;
}

.table-head-width {
  width: 8%;
}

.wday0 {
  color: red;
}

.wday6 {
  color: blue;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid silver;
  }
}

.search-form {
  float: right;
    input[type="text"] {
      padding-bottom: 3px;
      margin-right: -4px;
      width: 250px;
      height: 30px;
  }
}



.search-name {
  font-weight: bold;
}

.form-inline {
    display: flex;
    padding: 5px;
}

.search-text {
  height: 10px;
}

.label-user--search {
  margin-bottom: 2px;
  vertical-align: left;
}

.input-mysize {
  width: 300px;
  height: 30px;
}

.result-page {
  padding-top: 10px;
}


/* 基本情報編集ページ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic_info {
  margin: 15px 0;
  width: 30%;
}